@charset "ISO-8859-1";

body{
	background-image: url("../resources/sfondo_game.jpg");
}

label {
	font-size: 3vh;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

svg {
	cursor: pointer
}

.RED { fill: red }

.YELLOW { fill: yellow }

.GREEN { fill: green }

.BLACK { fill: #1F1F1F }

.PURPLE { fill: purple }

.BLUE { fill: blue }

.country:hover {
	fill: grey
}

.hidden {
	display: none;
}

.show {
	display: inline-block;
}

button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 1.3vh 1.3vw;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  font-size: 3vh;
}

button:hover {
	background-color: #FF4500
}

button:active {
  background-color: #800000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

select{
	width: 5em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  height: 15%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #330000;
  color: white;
}

.modal-body {
	padding: 2px 16px;
	background-color: #b30000;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="number"] {
   width:50px;
}

#container{
	width: 100%;
	height: 95%
}

#mapZone{
	float: left;
	width: 67%;
	height: 100%;
	margin: 0%;
	padding: 0%;
}

#territoryNameDiv{
	margin-bottom: 2px;
	text-align: center;
}

#mapDiv{
	height: 98%;
	width: 95%;
}

#infoZone{
	width: 95%;
	height: 5%;
	position: fixed;
	bottom: 1vh;
}

#territoryNameLabel{
	font-variant: small-caps;
	font-weight: bold;
}

#controlZone{
	float: right;
	margin-top: 26px;
	width: 33%;
	height: 90%;
	border-top: 0.3vh solid black;
}

.controlText{
	font-variant: small-caps;
	font-weight: bold;
}

ul { 
	list-style-type: none;
	margin: 0;
  	padding: 0;
}

li{
	margin-bottom: 1%;
}

#tankAssignmentPhaseDiv{
	height: 40%;
	width: 20%;
}

#playersTurnDiv, #availableTanksDiv, #missionCardDiv, #myColorDiv{
	display: inline;
  	border-style: inset;
  	text-align: center;
  	font-variant: small-caps;
	font-weight: bold;
	background-color: #ead9c8;
}

#wherePlacementSelect, #fromAttackSelect, #toAttackSelect, #fromMovementSelect, #toMovementSelect{
	width: 50%;
}

#nextPhaseButton, #returnToHomeButton{
	margin-bottom: 2%;
	margin-top: 1%;
}

#cardZone{
	margin-top: 3%;
	border-top: 0.3vh solid black;
	border-bottom: 0.3vh solid black;
}

#consoleText{
	overflow-y: scroll;
	position: absolute;
	width: 31vw;
	height: 20vh;
	bottom: 6vh;
}